<h1><%= book_search.title %></h1>
<h6><%= book_search.author %></h6>
<% book_search.reviews.each do |review| %>
  <ul class="reviews">
    <li><%= review.body %></li>
    <li><%= review.publication_date %></li>
  </ul>
<% end %>
